.post-kind-menu {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  background-color: var(--dark-color);
}

.post-kind-menu__post-kind {
  font-size: 1.2em;
  margin-bottom: .2em;
  background-color: var(--dark-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: .5rem 1rem;
}

.post-kind-menu__post-kind:hover,
.post-kind-menu__post-kind.is-active {
  background-color: var(--base-color);
  border-radius: 4px 0 0 4px;
  box-shadow: -2px -2px 2px rgba(0,0,0,.4);
}