.card {
  display: block;
  background-color: var(--light-color);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.2);
  margin-bottom: 1em;
  overflow: hidden;
}

.card__header {
  padding: 1rem;
}

.card__footer {
  font-size: .5em;
  padding: .25rem 1rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.05);
}

.card__text {
  padding-left: 1rem;
  padding-right: 1rem;
}